<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Whatsapp Message Sender - Envio de Mensagens</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/layout/stylesheets/vendors.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/layout/stylesheets/algaworks.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/layout/stylesheets/application.css}"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="aw-layout-loading  js-loading-overlay">
    <div class="aw-layout-loading__container">
        <span class="aw-balls-spinner">Carregando...</span>
    </div>
</div>

<div class="aw-layout-page">

    <nav
            class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference"
            id="main-navbar">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand  hidden-xs" href="#"> Message Sender </a>

                <ul class="nav  navbar-nav">
                    <li><a href="#" class="js-sidebar-toggle"><i
                            class="fa  fa-bars"></i></a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav  navbar-right">
                <li><a href="#"><em class="fa  fa-sign-out"></em></a></li>
            </ul>

        </div>
    </nav>

    <aside class="aw-layout-sidebar  js-sidebar">
        <div class="aw-layout-sidebar__content">

            <nav class="aw-menu  js-menu">
                <ul class="aw-menu__list">

                    <li class="aw-menu__item "><a href="/message-sender"><i
                            class="fa  fa-fw  fa-home"></i><span>Home</span></a></li>
                    <li class="aw-menu__item is-active"><a href="/message-sender/menu-message"><i
                            class="fa fa-whatsapp" aria-hidden="true"></i><span>Envio De Mensagem</span></a></li>


                </ul>
            </nav>

        </div>
    </aside>

    <section class="aw-layout-content  js-content">


        <div class="page-header">
            <div class="container-fluid">
                <h1>Menu de envio de mensagens</h1>
            </div>
        </div>

        <div class="container-fluid">
            <form method="POST" class="form-vertical  js-form-loading"
                  th:action="@{/ws/send}" th:object="${requestDto}" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="input-mensagem">Mensagem</label>
									<textarea id="input-mensagem"
                                     type="text" class="form-control"
                                      placeholder="Bom dia #1, você acaba de receber um cupom de desconto no valor de #2 do Senhor Pastel."
											  rows="3"
										   th:field=*{message} required/>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="input-csvFile">Arquivo CSV</label>
                            <input id="input-csvFile"
                                     type="file" class="form-control" siz
                                     th:field=*{csvFile} />
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <button class="btn  btn-primary" type="submit">Processar</button>
                    <a href="/message-sender/menu-message" class="btn  btn-default">Resetar</a>
                </div>
            </form>
        </div>
    </section>

    <footer class="aw-layout-footer  js-content">
        <div class="container">
				<span class="aw-footer-disclaimer">&copy; developed by Marco
					Túlio Andrade.</span>
        </div>
    </footer>

</div>

<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>

</body>
</html>